.sidebar{
    position:fixed;
    top:55px;
    left:0px;
    bottom:0px;
    width: 70px;
    z-index: 200;
    background-color: white;

}

.sidebar-link{
    background-color: white;
    height: 72px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar-link:hover{
    background-color: rgb(238, 238, 238);
}

.sidebar-link img{
    height:24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    display: block;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 10px;
}